body{
    width: 450px;
}

form{
    display: inline;
}

input {
    border-radius: 8px;
    border-style: solid;
    width: 85px;
    margin: 3px;
    padding: 5px; 
}

.button input{
    width: 100%;
}